<div style="min-height: 100vh;">
<nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed">
    <thead>
      <tr>
        <th nzCustomFilter>
          Name
          <!-- [(nzVisible)]="visible" -->
          <nz-filter-trigger [nzActive]="activeKeys?.name && activeKeys.name.search.length" [nzDropdownMenu]="menu"  (nzVisibleChange)="tableNameClick($event, 'name')" [nzVisible]="isActive('name')">
            <i nz-icon nzType="filter" nzTheme="outline"></i>
          </nz-filter-trigger>
        </th>
        <th>Age
          <nz-filter-trigger [nzActive]="activeKeys?.age && activeKeys.age.search.length " [nzDropdownMenu]="menu"  
          (nzVisibleChange)="tableNameClick($event, 'age')" [nzVisible]="activeKeys?.age ? activeKeys.age.active : false">
            <i nz-icon nzType="filter" nzTheme="outline"></i>
          </nz-filter-trigger>
        </th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data">
        <td>{{ data.name }}</td>
        <td>{{ data.age }}</td>
        <td>{{ data.address }}</td>
      </tr>
    </tbody>
  </nz-table>
  <nz-dropdown-menu #menu="nzDropdownMenu" >
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input (keyup)="fnFilterPTableColumn(searchValue)" type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
        <ng-container *ngIf="listOfNameShowData && listOfNameShowData.length > 0">
          <div style="margin: 20px 0px;max-height: 200px; overflow: auto;">
          <ng-container *ngFor="let item of  listOfNameShowData">
            <div style="margin-bottom: 10px;">
              <label nz-checkbox [(ngModel)]="item.checked">{{item.data}}</label> <br>
            </div>
          </ng-container>
        </div>
        </ng-container>
        
        <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
          Ok
        </button>
        <button nz-button nzSize="small" (click)="reset()">Reset</button>
      </div>
    </div>
  </nz-dropdown-menu>


</div>

  